user nginx;
worker_processes ##WORKER_PROCESSES##;

error_log /dev/stdout info;
pid /var/run/nginx.pid;

events {
  worker_connections 1024;
}

http {
  access_log /dev/stdout;

  server {
    listen ##PORT## ssl;
    server_name edit.gilpin.info;

    ssl_certificate /cert.cer;
    ssl_certificate_key /cert.key;

    ssl_protocols TLSv1.2; # Use strong protocols
    ssl_ciphers HIGH:!aNULL:!MD5; # Use strong ciphers
    ssl_prefer_server_ciphers on;

    client_max_body_size ##CLIENT_MAX_BODY_SIZE##;
    proxy_read_timeout ##PROXY_READ_TIMEOUT##;

    include /etc/nginx/conf.d/*.conf;

    location / {
      proxy_pass ##PROXY_PASS##;

      proxy_set_header X-Forwarded-Host $host;
      # Do not pass Authorization header to destination
      proxy_set_header Authorization "";
    }
  }

  server {
    listen 81 ssl;
    server_name spire.gilpin.info;

    ssl_certificate /cert.cer;
    ssl_certificate_key /cert.key;

    ssl_protocols TLSv1.2; # Use strong protocols
    ssl_ciphers HIGH:!aNULL:!MD5; # Use strong ciphers
    ssl_prefer_server_ciphers on;

    client_max_body_size ##CLIENT_MAX_BODY_SIZE##;
    proxy_read_timeout ##PROXY_READ_TIMEOUT##;

    include /etc/nginx/conf.d/*.conf;

    location / {
      proxy_pass http://10.0.1.23:3000/;
      proxy_set_header HOST $host;
    }
  }

  server {
    listen 8090;

    location /nginx_status {
      stub_status on;
      access_log off;
    }
  }
}

